<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <title>Dartagnan Hosting</title>
</head>
<body>
<div class="jumbotron">
    <h1>{{ rest_name }}</h1>
</div>
 {% block main_body %}
    <p>Here is our content that will be overwritten</p>
  {% endblock %}
</body>
</html>