{% extends "base.html" %}

{% block main_body %}
    <ul class="nav nav-pills">
        <li><a href="menu/about">About Us</a></li>
        <li class="active"><a href="#">Menu</a></li>
        <li><a href="menu/locations">Locations</a></li>
      </ul>
{% if rest_info %}
<ul>
    {% for category in categories %}
    <li>
    <a href="/menu/category/{{ category.title }}">{{ category.title }}</a>

    </li>
    {% endfor %}
</ul>
{% else %}
    <p>No restaurant data was found.</p>
{% endif %}
{% endblock %}