body{
    background-color: whitesmoke;
    font: roboto;
}

.container{
    padding-top: 68px;
     background-color: whitesmoke;
}
.navbar-fixed-top{
    color: ghostwhite;
}
.header{
    background-color: whitesmoke;
    width: 100%;
}

.about_us{
    text-indent: 30px;
}

.about_us p{
    margin-top: 20px;
    width: 75%;
}

.whitename{
    padding-left: 20px;
    font-size: 18px;
    padding-top: 10px;
}

.jumbotron{
    background-color: darkslategray;
    color: #507B9E;
}

.nav li{
    background-color: darkslategray;
    color: #507B9E;
    border-radius: 6px;
}